= link_css '/stylesheets/isoform_svg'
.isoform_svg_tool
  .window
    - log :svg, "Downloading SVG"
    - begin
      = protein.marked_svg([])
    - rescue Exception
      %p.error
        Could not download protein SVG, try again later. #{$!.message}


  :javascript

    deffer(function(){
      require_js("/js/isoform_svg.js")
      var tool = $('.isoform_svg_tool').last().isoform_svg_tool({protein:"#{ protein }", sequence: "#{sequence}"});
    })


