- jmol_id = 'Jmol-' << protein
- pdbs = protein.pdbs

= link_css '/stylesheets/jmol'

.jmol_tool(id=jmol_id)

  %h4 Select pdb to load

  %select.pdb(style='width: 200px')
    %option(selected="selected") Select a pdb
    - (pdbs || []).each do |pdb, info| 
      %option(attr-pdb="=#{pdb}")= "#{pdb}"
    - uniprot = protein.gene.uniprot

    - if uniprot
      - Structure.job(:i3d_protein_pdbs, "Structure", :uniprot => uniprot).run.each do |filename|
        - type = filename =~ /EXP/ ? :pdb : :model
        - url = "http://interactome3d.irbbarcelona.org/pdb.php?dataset=human&type1=proteins&type2=#{ type }&pdb=#{ filename }"
        -# url =  "http://darthcaedus:28873/" << ["Structure", "get_protein_pdb"] * "/"  << "?" << Misc.hash2GET_params(:_format => :raw, :filename => filename)
        %option.protein(attr-pdb=url)= "#{filename}"
   
      - Structure.job(:i3d_interaction_pdbs, "Structure", :uniprot => uniprot).run.each do |filename|
        - type = filename =~ /EXP/ ? :pdb : :model
        - url = "http://interactome3d.irbbarcelona.org/pdb.php?dataset=human&type1=interactions&type2=#{ type }&pdb=#{ filename }"
        -# url =  "http://darthcaedus:28873/" << ["Structure", "get_interaction_pdb"] * "/"  << "?" << Misc.hash2GET_params(:_format => :raw, :filename => filename)
        %option.interaction(attr-pdb=url)= "#{filename}"
 

  .window

  .row(style='margin-top:20px')
    -#.window.column.small-8

    .column.small-4

      %dl.pdb_info

        %dt Loaded PDB
        %dd.pdbfile none

  :javascript

    deffer(function(){
      require_js("/js/jmol.js")
      var tool = $('.jmol_tool').last().jmol_tool({protein:"#{ protein }", sequence: "#{protein.sequence}"});

      $('select.pdb').change(function(){
        var option = $(this).find('option:selected');
        var pdb = option.attr('attr-pdb');
        if (pdb == "Select a pdb") return false
        tool.jmol_tool("load_pdb", pdb)
        tool.find('.pdb_info > dd.pdbfile').html(pdb)
      })
    })

