- jmol_id = 'Jmol-' << protein
- select_id = jmol_id + '-select'
- pdbs = protein.pdbs
- position = nil unless defined? position

- organism = protein.organism
- uni = Organism.protein_identifiers(organism).index :target => "UniProt/SwissProt Accession", :persist => true
.jmol_tool(id=jmol_id)


  .row
    %label(for=select_id) Load a structure PDB

    %select.pdb(id=select_id style='width: 200px')
      %option(selected="selected") Select a PDB
      - (pdbs || []).each do |pdb, info| 
        %option(attr-pdb="=#{pdb}")= "#{pdb}"
      - uniprot = uni[protein]

      - if uniprot and Structure::I3D_PROTEINS.include? uniprot
        - filepos = Structure::I3D_PROTEINS.identify_field "FILENAME"
        - Structure::I3D_PROTEINS[uniprot][filepos].each do |filename|
          - type = filename =~ /EXP/ ? :pdb : :model
          - url = "http://interactome3d.irbbarcelona.org/pdb.php?dataset=human&type1=proteins&type2=#{ type }&pdb=#{ filename }"
          -# url =  "http://darthcaedus:28873/" << ["Structure", "get_protein_pdb"] * "/"  << "?" << Misc.hash2GET_params(:_format => :raw, :filename => filename)
          %option.protein(attr-pdb=url)= "#{filename}"
    
      - if uniprot and Structure::I3D_INTERACTIONS.include? uniprot
        - filepos = Structure::I3D_INTERACTIONS.identify_field "FILENAME"
        - Structure::I3D_INTERACTIONS[uniprot][filepos].each do |filename|
          - type = filename =~ /EXP/ ? :pdb : :model
          - url = "http://interactome3d.irbbarcelona.org/pdb.php?dataset=human&type1=interactions&type2=#{ type }&pdb=#{ filename }"
          -# url =  "http://darthcaedus:28873/" << ["Structure", "get_interaction_pdb"] * "/"  << "?" << Misc.hash2GET_params(:_format => :raw, :filename => filename)
          %option.interaction(attr-pdb=url)= "#{filename}"


  .window

  %dl.pdb_info.two_column

    %dt Loaded PDB file
    %dd.pdbfile none

  :deferjs

    require_js("/js/jmol.js", function(){
      var position = #{position ?  position : "undefined"}
      var tool = $('.jmol_tool').last().jmol_tool({protein:"#{ protein }", sequence: "#{protein.sequence}"});

      $('select.pdb').change(function(){
        var option = $(this).find('option:selected');
        var pdb = option.attr('attr-pdb');
        if (pdb == "Select a pdb") return false
        tool.jmol_tool("load_pdb", pdb)
        clean = pdb.replace(/=/,'')
        tool.find('.pdb_info > dd.pdbfile').html(clean)

        if (position !== undefined){
          tool.jmol_tool("clear")
          tool.jmol_tool("mark_position", position, 'red')
        }
      })
    })

