- position = nil unless defined? position
- sequence = protein.sequence
- jmol_id = 'Jmol-' << protein
- select_id = jmol_id + '-select'
- pdbs = protein.pdbs
- position = nil unless defined? position
- colors = %w(red blue green yellow black white purple)

- organism = protein.organism
- uni = Organism.protein_identifiers(organism).index :target => "UniProt/SwissProt Accession", :persist => true

- association_items = COSMIC.knowledge_base.subset(:mutation_protein_changes, :target => [protein], :source => :all)
- associations = association_items.tsv.to_double
- Log.tsv associations
- log :sample_mutations
- sample_mutations = COSMIC.knowledge_base.get_database(:sample_mutations, :type => :double, :merge => true, :target => "Sample name=~Sample", :source => "Genomic Mutation")
- sample_mutations.fields = ["Sample"]
- associations = associations.attach(sample_mutations)
- cosmic_mutations = {}
- associations.each do |k,values|
  - genomic_mutation, isoform, mutated_aa, samples = values
  - mutated_aa = mutated_aa.first
  - mutated_aa =~ /^([A-Z])(\d+)([A-Z])$/
  - next if $1 == $3
  - key = $2.to_i
  - if cosmic_mutations.key? key
    - cosmic_mutations[key] += samples.length
  - else
    - cosmic_mutations[key] = samples.length

:sass
  .protein_tool
    .controls
      float: right
      margin-bottom: -2px
      .ui.input, .ui.buttons
        padding: 0px
        input
          width: 100% !important
    .tabular.menu
      width: 300px !important

.protein_tool.very.basic.ui.segment(id=id)
  .controls.very.basic.segment
    .ui.input
      %input(placeholder='Position' type='text' name='position')
    .ui.buttons
      .mark.submit.ui.button Mark
      .clear.submit.ui.button Clear
      .align.submit.ui.button Align
  .ui.tabular.menu.top.attached
    .item.active(data-tab='Sequence') Sequence
    .item(data-tab='JMol') JMol
    .item(data-tab='COSMIC') COSMIC
  .window.bottom.attached.ui.segment
    .secondary_structure.active.very.basic.ui.segment.tab(data-tab='Sequence' style='background:white')
      .svg(data-sequence_length='#{sequence.length}')
        - log :svg, "Downloading SVG"
        - begin
          :sass
            .secondary_structure .svg svg
              border: solid 1px #EEE
          = protein.marked_svg([])
        - rescue Exception
          %p.error.ui.message
            Could not download protein SVG, try again later.
            %pre=$!.message
      .sequence(style='width: 687px; padding: 10px; overflow-x: auto;font-family: monospace;margin-left:113px;margin-top:-10px;background-color:white; border: solid 1px #EEE')
        %span.sequence(width="100%")= sequence
        %span.marks(width="100%")
          - size = sequence.length
          - marks = size / 10
          - str = ""
          - marks.times do |mark|
            - txt = "|"
            - str << ("_" * (10 - txt.length)) << txt
          = str
        %span.counts(width="100%")
          - size = sequence.length
          - marks = size / 10
          - str = ""
          - marks.times do |mark|
            - mark = (mark + 1) * 10
            - txt = mark.to_s
            - str << ("_" * (10 - txt.length)) << txt
          = str
        %p.scroll.ui.message
          Scroll horizontaly across the sequence

    .jmol.very.basic.ui.segment.tab(data-tab='JMol')

      .ui.field
        %label(for=select_id) Load a structure PDB
        %select.pdb(id=select_id style='width: 200px')
          %option(selected="selected") Select a PDB
          - (pdbs || []).each do |pdb, info|
            - url = "http://files.rcsb.org/view/#{pdb}.pdb"
            %option(attr-pdb="#{url}")= "#{pdb}"
          - uniprot = uni[protein]

          - if uniprot and Structure::I3D_PROTEINS.include? uniprot
            - filepos = Structure::I3D_PROTEINS.identify_field "FILENAME"
            - Structure::I3D_PROTEINS[uniprot][filepos].each do |filename|
              - type = filename =~ /EXP/ ? :pdb : :model
              - url = "http://interactome3d.irbbarcelona.org/pdb.php?dataset=human&type1=proteins&type2=#{ type }&pdb=#{ filename }"
              -# url =  "http://darthcaedus:28873/" << ["Structure", "get_protein_pdb"] * "/"  << "?" << Misc.hash2GET_params(:_format => :raw, :filename => filename)
              %option.protein(attr-pdb=url)= "#{filename}"

          - if uniprot and Structure::I3D_INTERACTIONS.include? uniprot
            - filepos = Structure::I3D_INTERACTIONS.identify_field "FILENAME"
            - Structure::I3D_INTERACTIONS[uniprot][filepos].each do |filename|
              - type = filename =~ /EXP/ ? :pdb : :model
              - url = "http://interactome3d.irbbarcelona.org/pdb.php?dataset=human&type1=interactions&type2=#{ type }&pdb=#{ filename }"
              -# url =  "http://darthcaedus:28873/" << ["Structure", "get_interaction_pdb"] * "/"  << "?" << Misc.hash2GET_params(:_format => :raw, :filename => filename)
              %option.interaction(attr-pdb=url)= "#{filename}"

        .ui.input
          %input(placeholder='neighbours' type='text' name='neighbours')
        .ui.input
          %input(placeholder='angstroms' type='text' name='angstroms')
        .ui.button.mark.neighbours
          Mark neighbours

        .ui.toggle.checkbox.disabled.appris
          %input(name="public" type="checkbox")
          %label Features
        .ui.toggle.checkbox.disabled.cosmic
          %input(name="public" type="checkbox")
          %label COSMIC mutations
      .window

    .COSMIC.very.basic.ui.segment.tab(data-tab='COSMIC')
      = fragment do
        .highlight.submit.ui.button Highlight
        -#.ui.message
          In JMol positions with 1 mutation are white, with 2 are green, with 3 are orange, and with more than 3 are red
        -#%select(name='color')
          - colors.each do |c|
            %option(value=c)= c


        - header "Genomic Mutation", "GenomicMutation", {:organism => Organism.default_code("Hsa"), :watson => false}
        - filter "Primary site"
        = table :table_id => "COSMIC mutations for #{ protein.name || protein }", :row_ids => :consume do
          - log :sample_info

          - sample_info = COSMIC.sample_info.tsv

          - sample_info.key_field = "Sample"

          - associations = associations.attach(sample_info)

          - good_fields = associations.fields - ["Ensembl Protein ID"]

          - log :slice_and_show
          - associations.slice(good_fields)

        :deferjs

          $('.highlight.submit').click(function(){
            var link = $(this);
            var COSMIC = link.parents('.COSMIC').first();
            var protein_tool = COSMIC.parents('.protein_tool').first();
            var svg_element  = protein_tool.find('.svg').first();
            var jmol_element  = protein_tool.find('.jmol').first();

            var table = COSMIC.find('table');
            var url = table.attr('attr-url');
            var filter = table.attr('attr-filter');

            url = add_parameter(url, '_format', 'json')
            url = add_parameter(url, '_page', 'all')
            url = add_parameter(url, '_column', 'Change')
            if (undefined != filter){ url = add_parameter(url, '_filter',  escape(filter)) }

            var color = 'red'

            $.ajax({
              url: url,
              success: function(data){
                data = JSON.parse(data);
                var change_positions = [];

                forHash(data, function(mutation, values){
                  var change = values[0];
                  var samples = values[1];
                  var m;
                  if (m = change.match(/[A-Z](\d+)[A-Z]/)){
                    change_positions.push(parseInt(m[1]));
                  }
                })
                var change_counts = []

                forArray(change_positions, function(position){
                  if (change_counts[position] === undefined){
                    change_counts[position] = 1
                  }else{
                    change_counts[position] = change_counts[position] + 1
                  }
                })

                var protein_tool = $('.protein_tool#' + '#{id}');

                rbbt.svg.mark_positions(svg_element, change_positions, color);
                rbbt.jmol.mark_positions(jmol_element, change_positions, 'red');

                //rbbt.do_try(function(){
                //  rbbt.jmol.mark_positions(jmol_element, change_positions, 'red');
                //  //forHash(change_counts, function(position, count){
                //  //  var jcolor = 'white';

                //  //  if ('string' == typeof count) count = parseInt(count)
                //  //  if ('string' == typeof position) position = parseInt(position)

                //  //  if (count > 1) jcolor = 'green'
                //  //  if (count > 2) jcolor = 'organge'
                //  //  if (count > 3) jcolor = 'red'

                //  //  console.log([position, count, jcolor, jmol_element])
                //  //  rbbt.jmol.mark_position(jmol_element, position, jcolor);
                //  //})
                //})
              }
            })
            return false;
          })

:sass
  .jmol:not(.active)
    display: block !important
    visibility: hidden
    height: 0px
    margin: 0px
    padding: 0px

:deferjs
  $('.tabular.menu .item').tab()

  $('svg').attr('viewport-fill', 'white')


  require_js(["/js-find/rbbt.protein_tool.js","/js-find/jmol.js"], function(){
    var position = #{position ?  position : "undefined"}
    var tool = $('.jmol').last().jmol_tool({protein:"#{ protein }", sequence: "#{protein.sequence}"});

    var cosmic_mutations = #{cosmic_mutations.to_json}
    var appris_features = {}
    var pdb2seq = {}
    var seq2pdb = {}
    var pdb

    $('select.pdb').change(function(){
      var option = $(this).find('option:selected');
      pdb = option.attr('attr-pdb');
      if (typeof pdb === 'undefined' || pdb == "Select a pdb") {
        $('.ui.checkbox.appris').removeClass('checked')
        if (!$('.ui.checkbox.appris').hasClass('disabled')) $('.ui.checkbox.appris').addClass('disabled')
        $('.ui.checkbox.cosmic').removeClass('checked')
        if (!$('.ui.checkbox.cosmic').hasClass('disabled')) $('.ui.checkbox.appris').addClass('disabled')
        return false
      }

      tool.jmol_tool("load_pdb", pdb)
      $('.ui.checkbox.cosmic').removeClass('disabled')
      rbbt.ajax({url:"/appris_features?isoform=#{protein}"}).then(function(features){
        appris_features = features
        if (typeof features === 'object' && features instanceof Array && features.length) {
          $('.ui.checkbox.appris').removeClass('disabled')
        } else {
          $('.ui.checkbox.appris').removeClass('checked')
          $('.ui.checkbox.appris').addClass('disabled')
        }
      })

      rbbt.job("Structure", "pdb_alignment_map", {sequence: "#{protein.sequence}", pdb: pdb}, 'true').then(function(_seq2pdb){
        seq2pdb = _seq2pdb
        keys = Object.keys(seq2pdb)
        keys = keys.map(Number);
        tool.jmol_tool("mark_region", 'darkslategray', seq2pdb)
        for (number = 0; number < keys.length; number++) {
          key = keys[number]
          values = seq2pdb[key]
          for (num = 0; num < values.length; num++) {
            value = values[num]
            pdb2seq[seq2pdb[key]] = key
          }
        }
      })

      clean = pdb.replace(/=/,'')
      tool.find('.pdb_info > dd.pdbfile').html(clean)

      if (position !== undefined){
        tool.jmol_tool("clear")
        tool.jmol_tool("mark_position", position, 'red')
      }
    })

    body.on('click', '.ui.checkbox.cosmic', function(){
      if ($('.ui.checkbox.cosmic').hasClass('checked')) {
        keys = Object.keys(cosmic_mutations)
        keys = keys.map(Number);
        colors = get_gradient(keys, 'green', 'red')
        script = ""
        for (var position = 0; position < keys.length; position++) {
          cosmic_mutation = keys[position]
          color = colors[position]
          color = color.replace('#', '[x')
          color = color.concat(']')
          if (! seq2pdb[cosmic_mutation]) continue
          for (var pos = 0; pos < seq2pdb[cosmic_mutation].length; pos++) {
            chain = seq2pdb[cosmic_mutation]
            script += "select protein and *.CA and " + chain[pos].slice(2) + ":" + chain[pos][0] + ";cartoon;color " + color + ";"
          }
        }
        tool.jmol_tool("run_script", script)
      }
    })

    body.on('click', '.ui.checkbox.appris', function(){
      if ($('.ui.checkbox.appris').hasClass('checked')) {
        var script = ""
        var color = 'lime'
        for (var position = 0; position < appris_features.length; position++) {
          feature = appris_features[position]
          if (feature['type'] == 'firestar') {
            for (var pos = 0; pos < seq2pdb[feature['start']].length; pos++) {
              chain = seq2pdb[feature['start']]
              script += "select protein and *.CA and " + chain[pos].slice(2) + ":" + chain[pos][0] + ";cartoon;color " + color + ";"
            }
          }
        }
        tool.jmol_tool("run_script", script)
      } else {
      var link = $(this);
      var controls = link.parents('.controls').first();
      var protein_tool = controls.parents('.protein_tool').first();
      var sequence_element  = protein_tool.find('.sequence').first();
      var svg_element  = protein_tool.find('.svg').first();
      var jmol_element  = protein_tool.find('.jmol').first();

      rbbt.sequence.clear(sequence_element)
      rbbt.svg.clear(svg_element)
      rbbt.jmol.clear(jmol_element)
      }
    })

    $('.clear.submit').click(function(){
      var link = $(this);
      var controls = link.parents('.controls').first();
      var protein_tool = controls.parents('.protein_tool').first();
      var sequence_element  = protein_tool.find('.sequence').first();
      var svg_element  = protein_tool.find('.svg').first();
      var jmol_element  = protein_tool.find('.jmol').first();

      rbbt.sequence.clear(sequence_element)
      rbbt.svg.clear(svg_element)
      rbbt.jmol.clear(jmol_element)
    })

    $('.mark.submit').click(function(){
      var link = $(this);
      var controls = link.parents('.controls').first();
      var protein_tool = controls.parents('.protein_tool').first();
      var sequence_element  = protein_tool.find('.sequence').first();
      var svg_element  = protein_tool.find('.svg').first();
      var jmol_element  = protein_tool.find('.jmol').first();

      var position = parseInt(controls.find('input[name=position]').val());

      if (typeof pdb == 'undefined' || pdb == "Select a pdb") return alert("No pdb specified")
      if (! position > 0) return alert("No position specified")

      first = Object.keys(seq2pdb)[0]
      last = Object.keys(seq2pdb)[Object.keys(seq2pdb).length-1]
      if (!seq2pdb[position]) alert("No position " + position + " in PDB (" + first + "-" + last + ")")

      rbbt.sequence.clear(sequence_element)
      rbbt.svg.clear(svg_element)

      rbbt.sequence.mark_position(sequence_element, position)
      rbbt.svg.mark_position(svg_element, position)
      rbbt.jmol.mark_position(jmol_element, position)
    })


    $('.align.submit').click(function(){
      var link = $(this);
      var controls = link.parents('.controls').first();
      var protein_tool = controls.parents('.protein_tool').first();
      var svg_element  = protein_tool.find('.svg').first();

      var jmol = $('.jmol');

      if(jmol.jmol_tool('is_pdb_loaded')){
        rbbt.svg.mark_aligned_region(svg_element, seq2pdb, 'blue');
        jmol.jmol_tool('mark_region','blue', seq2pdb)
      }else{
        alert("Select a PDB")
      }
      return false;
    })

    $('.mark.neighbours').click(function(){
      var link = $(this);
      var field = link.parents('.field').first();
      var position = parseInt(field.find('input[name=neighbours]').val());
      if (! position > 0) return alert("No position specified")
      var angstroms = parseInt(field.find('input[name=angstroms]').val());
      if (! angstroms > 0) angstroms = 5

      rbbt.job("Structure", "neighbour_map", {distance: angstroms, pdb: pdb}, 'true').then(function(neighbours_pdb){
        position_pdb = seq2pdb[position]
        neighbours_pos_pdb = neighbours_pdb[position_pdb]
        neighbours_pos_seq = []
        for (number = 0; number < neighbours_pos_pdb.length; number++) {
          neighbour_pos_seq = pdb2seq[neighbours_pos_pdb[number]]
          neighbours_pos_seq.push(neighbour_pos_seq)
         }
        var protein_tool = field.parents('.protein_tool').first();
        var jmol_element  = protein_tool.find('.jmol').first();
        //rbbt.jmol.mark_positions(jmol_element, neighbours_pos_seq, 'purple')
        neighbours_pos_seq.push(position)
          for (number = 0; number < appris_features.length; number++) {
            feature = appris_features[number]
            if (feature['type'] == 'firestar') {
              pos = 0
              found = false
              while (!found && pos < neighbours_pos_seq.length) {
                neighbour_pos = neighbours_pos_seq[pos]
                if (feature['start'] <= neighbour_pos && neighbour_pos <= feature['end']) {
                  found = true
                  tool.jmol_tool("mark_position", neighbour_pos, 'lime')
                }
                pos += 1
              }
            }
          }
        for (number = 0; number < neighbours_pos_seq.length; number++) {
          neighbour_pos_seq = neighbours_pos_seq[number]
          if (cosmic_mutations[neighbour_pos_seq]) {
             tool.jmol_tool("mark_position", neighbour_pos_seq, 'orange')

          }
        }

        tool.jmol_tool("mark_position", position, 'red')
      })
    })
   })

