- position = nil unless defined? position
- positions = [position] unless defined? position or position.nil?
- positions = [] unless defined? position 
- positions = positions.collect{|v| v.to_i}
:sass
  .scroll.ui.message
    width: 30em
  
.sequence_tool
  %span.sequence(width="100%")= sequence
  %span.marks(width="100%")
    - size = sequence.length
    - marks = size / 10
    - str = ""
    - marks.times do |mark|
      - txt = "|"
      - str << ("_" * (10 - txt.length)) << txt
    = str
  %span.counts(width="100%")
    - size = sequence.length
    - marks = size / 10
    - str = ""
    - marks.times do |mark|
      - mark = (mark + 1) * 10
      - txt = mark.to_s
      - str << ("_" * (10 - txt.length)) << txt
    = str
  %p.scroll.ui.message 
    Scroll horizontaly across the sequence


  :deferjs
    require_js("/js/sequence.js", function(){
      var tool = $('.sequence_tool').last().sequence_tool({protein:"#{ protein }", sequence: "#{sequence}"});
      var svg = $('#{svg}')
      var start  = parseInt(svg.find('rect.ac').attr('x')); // + parseInt(svg.closest('div.svg').css('padding-left')) - parseInt(tool.css('padding-left'));
      var end    = svg.attr('width')
      tool.sequence_tool('place', start, end - start)
      var positions = #{positions.to_json}
      tool.sequence_tool("mark_positions", positions, 'red')
    })


