- id = [workflow.to_s, task.to_s] * "__"
- action = to(File.join('/', workflow.to_s, task.to_s))
- task_info = workflow.task_info(task)

.workflow_task(id=id)
  %h3= task.to_s

  - if task_info[:description]
    .description
      :documentation
        #{task_info[:description]}

  .form
    = partial_render('partials/form', :id => id, :action => action, :method => 'post', 
      :enctype => "multipart/form-data", :info => task_info, :klass => 'workflow_task')

  - if workflow.libdir.examples[task.to_s].exists?
    .examples

      Click the links bellow to load example data:
        
      :javascript
        example_inputs = [];
      %ul
        - workflow.libdir.examples[task.to_s].glob('*').each do |example_dir|
          - name = File.basename(example_dir)
          - task_info = workflow.task_info task
          - inputs = Workflow.load_inputs(example_dir, task_info[:inputs], task_info[:input_types])
          - inputs.each{ |k,v| v.replace Open.read(v) if String === v and File.exists? v }
          :javascript
            example_inputs["#{ name }"] = #{inputs.to_json}
          %li
            %a.load_example(href="#" task=task name=name)= name

      :javascript
        deffer(function(){
          var form = $('.workflow_task[id=#{id}] > .form > form')

          $("a.load_example").click(function(){
            var link = $(this);
            var name = $(link).attr('name');
            var inputs = example_inputs[name];
            form[0].reset()

            for (var input in inputs){
              var value = inputs[input]
              var input = form.find('[name=' + input + ']')
              if (input.is('[type=checkbox]')){
                input.prop('checked', value)
              }else{
                input.val(value)
              }
            }
            form.find('[name=jobname]').val(name)
            return false
          })
        })

:defferjs
  var form = $("form#" + '#{id}')
  form.find('.input').addClass('masonry')
  form.isotope({itemSelector: '.input',
    masonry: {
    //columnWidth: '.grid-sizer'
    }
  })

    
