!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }/

  %meta(name="viewport" content="width=device-width, initial-scale=1.0")

  %link{:rel => "icon", :type => "image/gif", :href => "/favicon.gif"}/

  %title Structure PPI (beta)
  

  - record_css '/stylesheets/structure'
  = serve_css


  - record_js '/js/deffer'

  // Third party frameworks

  = serve_js

  - %w(jquery-2.1.1 jquery.cookie jquery.form).each do |jquery_file|
    - record_js File.join('/plugins/jquery/js/', jquery_file)

  - record_js '/plugins/jquery-ui/js/jquery-ui-1.8.14.custom.min.js'

  - %w(helpers _md5 _ajax_replace _ellipsis).each do |file|
    - record_js "/js-find/#{ file }"

  - %w(dom_update workflow fragment menu favourites page_type modal reveal actions table list map hide).each do |file|
    - record_js "/js-find/rbbt/#{ file }"

  - record_js "/js-find/app"

  = serve_js

%body

  %header

    Structure PPI

    - unless workflow.documentation[:title].empty?
      %span.title
      :markdown 
        #{workflow.documentation[:title]}

  %navigation
    %dl.tasks.clean_list
      - tasks = workflow.exec_exports + workflow.synchronous_exports + workflow.asynchronous_exports

      - tasks.sort.each do |task|
        //%a(href="#{to(File.join("/", workflow.to_s, task.to_s))}")= task
        %dt
          %a(href="#{File.join("/", workflow.to_s, task.to_s)}")= task
        - info = workflow.task_info(task)
        %dd
          - if info[:description]
            %p= info[:description].split(/\n\s*\n/).first

  %article
    = yield

  #modal
  -#coda
    =partial_render('layout/coda')
